# Vivado generated/heavy files - ignore when pushing
*.dcb
*.dcp
*.wdb
*.jou
*.wdf

.Xil/
*.cache/
*.gen/

*.sim/
*.hw/
*.ip_user_files/

*.pb
*.str
*.zip
*.tar
*.tar.gz


# Simulation outputs
xsim.dir/
*.vcd
*.fst
*.saif

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

